.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.title {
  font-size: 2.6rem;
}

h2 {
  color: purple;
}

.user-card {
  border: 2px solid black;
  width: 68%;
  flex-wrap: wrap;
  margin-left: 11rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
}
